<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link href="{% static 'css/w3.css' %}" rel="stylesheet">
    <style>
        input::placeholder { font-size: 1.2em; font-style: italic; }
    </style>
</head>
<body>
<div class=" w3-container" style="margin-left: 32%;max-width: 600px">
    <h2 class=" w3-container w3-center w3-blue" >User Dashboard</h2>
    <div class="w3-col m12 w3-gray">
        <div class="w3-col m4 w3-container">
            <a class="w3-container" href="/home/?id={{ data.contact_no }}" style="text-decoration: none;"><span style="color: salmon;font-weight: bold">Home</span></a>

        </div>
        <div class="w3-col m4 w3-container">
            <a class="w3-container" href="/updateprofile/?id={{ data.contact_no }}" style="text-decoration: none;"><span style="color: salmon;font-weight: bold">Update Profile</span></a>
        </div>
        <div class="w3-col m4 w3-container">
            <a class="w3-container" href="/deleteprofile/?id={{ data.contact_no }}" style="text-decoration: none;"><span style="color: salmon;font-weight: bold">Delete Profile</span></a>

        </div>


    </div>
    {% if type == 'dashboard' %}

     <div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>Name</p>
        </div>
        <div class="w3-col m6">
            <p>{{ data.name }}</p>
        </div>

    </div>
<div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>Contact No</p>
        </div>
        <div class="w3-col m6">
            <p>{{ data.contact_no }}</p>
        </div>

    </div>
<div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>User Name</p>
        </div>
        <div class="w3-col m6">
            <p>{{ data.username }}</p>
        </div>

    </div>
<div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>Password</p>
        </div>
        <div class="w3-col m6">
            <p>{{ data.password }}</p>
        </div>

    </div>
<div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>Image</p>
        </div>
        <div class="w3-col m6">
            <p><img src="{{ data.image.url }}/" alt=" " width="100px" height="100px"></p>
            <p></p>
        </div>

    </div>
{% endif %}

    {% if type == 'updateprofile' %}
    <form method="post" action="/UpdateUser/" class="w3-container w3-light-blue" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>Name</p>
        </div>
        <div class="w3-col m6">
            <p><input type="text" required name="name" value="{{ data.name }}"></p>
        </div>

    </div>
<div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>Contact No</p>
        </div>
        <div class="w3-col m6">
            <p><input type="number" required name="ucno" value="{{ data.contact_no }}"></p>
        </div>

    </div>
<div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>User Name</p>
        </div>
        <div class="w3-col m6">
            <p><input type="text" required name="uname" value="{{ data.username }}"></p>
        </div>

    </div>
<div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>Password</p>
        </div>
        <div class="w3-col m6">
            <p><input type="password" name="upass" required value="{{ data.password }}"></p>
        </div>

    </div>
<div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>Image</p>
        </div>
        <div class="w3-col m6">
            <p><img src="{{ data.image.url }}/" alt=" " width="100px" height="100px"></p>
            <p><input type="file" name="uimg" ></p>
        </div>
     <p class=" w3-center">

            <button class="w3-container w3-button w3-hover-blue w3-blue" type="submit"> <h3>Update</h3></button>
      </p>
    </div>
    </form>
    {% endif %}
    {% if type == 'deleteprofile' %}
    <form method="post" action="/DeleteUser/" class="w3-container w3-light-blue">
        {% csrf_token %}
     <div class="w3-col m12 ">
        <div class="w3-col m6">
            <p>User Name</p>
        </div>
        <div class="w3-col m6">
            <p>{{ data.username }}</p>
        </div>

    </div>

      <p class=" w3-center">
<input type="hidden" name="cno" value="{{ data.contact_no }}">
            <button class="w3-container w3-button w3-hover-blue w3-blue" type="submit"> <h3>Confirm</h3></button>
      </p>
    </form>
    {% endif %}
    </div>

{{ msg }}
</div>
</body>
</html>