<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link href="{% static 'css/w3.css' %}" rel="stylesheet">
    <style>
        input::placeholder { font-size: 1.2em; font-style: italic; }
    </style>
</head>
<body class="w3-sand">
<div class=" w3-container" style="margin-left: 32%;max-width: 400px">
    <h2 class=" w3-container w3-center w3-blue" >Registration Form</h2>
    <form method="post" action="/Register/" class="w3-container w3-light-blue" enctype="multipart/form-data">
{% csrf_token %}
            <p>
              <label>Name</label>
              <input class="w3-input" type="text" name="name" required>
             </p>


      <p>
          <label>Contact No</label>
          <input class="w3-input" type="number" name="ucontact" required>
      </p>
       <p>
          <label>Username</label>
          <input class="w3-input" type="text" name="uname" required>
      </p>
 <p>
          <label>Password</label>
          <input class="w3-input" type="password" name="upass" required>
      </p>
 <p>
          <label>Image</label>
          <input class="w3-input" type="file" name="img" required>
      </p>

      <p class=" w3-center">

            <button class="w3-container w3-button w3-hover-blue w3-blue" type="submit"> <h3>Register</h3></button>
      </p>
    </form>
<p class=" w3-center w3-light-blue">
    If you Already User
        <a href="/" style="text-decoration: none"><span class="w3-text-blue w3-large">Login Here</span></a>
      </p>
</div>
</body>
</html>